body { 
    background-color:#E8DED2;
}
h1{
    color:#056676;
}
h3{color:#056676;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width:5%;
    
}
.plz {   
    border-spacing: 10px; 
    background-color:rgb(43, 189, 226) ;
}

.sweet {  
    background-color:#a3d2ca;  
}  
 
    
 .push {
     background-color:  rgb(43, 189, 226);
    }
 .swept {
     width: 300px;
     border: 10px solid rgb(43, 189, 226);   
     padding: 5px;
     margin: 5px;
     background-color:#a3d2ca;
     
     
 } 
 .bless {
        font-size: 30px;
        background-color:#a3d2ca;
        width: 400px;
      }
   .crash{
    background-color:#a3d2ca;
    width: 200px;
   }
   .freeze { 
       border-spacing:20px;
   }
 #blush h1 + p{ 
     color:  rgb(43, 189, 226);
 }
 #bleesh #blush p{ 
    background-color:#a3d2ca;   
 }   
 #flush {
     background-color:#a3d2ca;
     width: 200px;
 }


     
    
    